<div class="flex items-center justify-center min-h-screen">
  <div class="bg-white border border-spacing-0 shadow-lg rounded-lg p-8 max-w-4xl w-full flex">
    <!-- Texto -->
    <div class="flex-1">
      <h1 class="text-4xl font-bold mt-20 text-gray-800">¡¡¡Felicidades!!!</h1>
      <p class="text-lg text-gray-700 mt-4">Usted ha pagado exitosamente</p>
      <p class="text-sm text-gray-500 mt-2">
        Apreciamos tu confianza en nosotros y nos alegra que hayas elegido nuestros productos. Estamos procesando tu pedido y pronto lo recibirás. Si tienes alguna duda o necesitas asistencia, no dudes en contactarnos.
      </p>
      <p class="text-lg text-gray-700 mt-4">¡Esperamos que disfrutes de tu compra y regreses pronto!</p>

      <!-- Formulario de suscripción -->

    </div>

    <!-- Imagen -->
    <div class="flex-1 flex items-center justify-center">
      <img
        src="PagoExitoso.webp"
        alt="Imagen de éxito"
        class="max-w-full h-auto"
      />
    </div>
  </div>
</div>
