.image-container {
  width: 100%;
  height: auto;
  overflow: hidden; /* Esto asegura que la imagen no se salga del contenedor */
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Esto hará que la imagen cubra todo el contenedor sin deformarse */
}
